* {padding: 0; margin: 0;
    font-family: "Roboto" , serif;
    text-decoration: none;}
ul, li {list-style-type: none;}
.header {
    text-align: center;
    padding: 30px;
    position: sticky;
    top: 0;
    background-color: white;
}
.header div {
    overflow: hidden;
    text-align: center;
}
.header div p {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
}
.header div img {
    float: left;
}
.header div .logreg{
    float: right;
    padding: 10px;
}
.header div .logreg a {
    display: inline-block;
}
.header div .logreg .a2 {
    margin-left: 20px;
}
.header div nav {
    background-color: white;
    z-index: 10;
}
.header div nav ul {
    text-align: center;
    margin-top: 30px;
}
.header div nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
}
.header div nav ul li a {
    text-decoration: none;
}
article {
    border-top: 5px solid red;
    height: 500px;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
}
article .main {
    height: 500px;
    text-align: center;
}
article .main .webd {
    display: block;
    letter-spacing: 10px;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 400;
    padding-top: 100px;
    padding-bottom: 50px;
}
article .main .htmlcss3 {
    letter-spacing: 5px;
    display: block;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 30px;
}
article .dpl {
    text-align: center;
    border-bottom: 3px dashed #cfcfcf;
}
article .dpl p {
    font-size: 15px;
    font-weight: 900;
    padding: 7px;
}
article ul {
    text-align: center;
    margin: 30px auto 170px auto;
}
article ul li {
    display: inline-block;
    padding: 0 30px;

}
article ul li p {
    font-weight: 600;
    color: #d4d4d4;
}
article .last {
    overflow: hidden;
    border-top: 2px solid #d4d4d4;
    padding: 5px;
}
article .last .lastl {
    line-height: 25px;
    float: left;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}
article .last .lastr {
    line-height: 25px;
    float: right;
    text-transform: uppercase;
    font-size: 12px;
}

/* nth-child 는 자식요소 여러개 중 원하는 것만 지정가능
nth-child(1) 은 첫번째 자식요소라는 뜻 */