* {padding: 0; margin: 0;}
ul, li {text-decoration: none;}
body {background-image: url(images/bg.png);}
header {text-align: center;}
header div .logo {text-align: center; margin: 20px 0px;}
.floating {
    width: 40px; height: 40px;
    background-color: brown;
    position: fixed;
    right: 40px; top: 40px;
    z-index: 10;
    line-height: 40px;
    text-align: center;
}
.menu {
    background-color: black;
    text-align: center;
    }
.menu ul li {
    display: inline-block;
    background-color: black;
    width: 50px; height: 50px;
    line-height: 50px;
}
.menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 10px;
}
.menu ul li a:hover {
    background-color: gray;
}
article {background-color: white;}
.slide {
    overflow: hidden;
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;
}
.slide li {
    float: left;
    width: 24%;
    text-align: center;
    list-style-type: none;
}
.submenu {
    background-color: white;
    padding: 30px;
    font-size: 20px;
    text-align: center;
    position: sticky; top: 0px;
    z-index: 10;
}
.submenu ul li {
    display: inline-block;
}
section {
    position: relative;
    width: 700px;
    margin: 0 auto;
    text-align: center;
}
.left {
    position: absolute;
    left: -210px;
    top: 10px;
}
.left .a123 {
    position: sticky;
    top: 10px;
}
aside.right {
    position: absolute;
    right: -210px;
    top: 10px;
}
